/* General stylings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body { 
    overflow: hidden;  
}

.bg-Clr1 {
    background-color: #CFF4FC;
}

.bg-Clr2 {
    background-color: #F8D7DA;
}

.bg-Clr3 {
    background-color: #198754;
}

.bg-Clr4 {
    background-color: #dc3545;
}

.bg-Clr5 {
    background-color: #F8D7DA;
}

.text-Clr1 {
    color: rgb(5, 81, 96);
}

.text-Clr2 {
    color: rgb(132, 32, 41);
}

.fs-7 {
    font-size: 0.9rem !important;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}

/* Sections */

/* Loader Section */
.loader {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* NavBar Section*/
.sideNav {
    z-index: 99;
}

.sideNav div img {
    width: 50px;
}

.sideMenu {
    transform: translateX(-100%);
    transition: transform 0.7s;
}

.sideMenu.active {
    transform: translateX(0%);
}

.sideMenu h5 {
    top: 100px;
    position: relative;
    cursor: pointer;
}

.sideBtn {
    transition: transform 0.7s;
}


.fa-bars,
.fa-x {
    cursor: pointer;
}

/* Main Scection */
.mainScreenItems {
    cursor: pointer;
    border-radius: 7px;
}

.mainScreenItems img {
    border-radius: 7px;
}

.mainScreenItems:hover .overlay {
    transform: translateY(0%);
}

.overlay {
    width: 92%;
    height: 100%;
    background-color: #f9f6f6ca;

    transition: .5s;
    transform: translateY(100%);

    border-radius: 7px;

    top: 0;
    left: 4%;
    position: absolute;
}

/* Details section */

.link1,
.link2 {
    transition: 0.3s;
}

/* Search section */

.inputs2 {
    border-radius: 7px;
    transition: .3s;
}

.inputs2:focus {
    outline: #86b7fe !important;
}

.searchItems {
    cursor: pointer;
    border-radius: 7px;
}

.searchItems img {
    border-radius: 7px;
}

.searchItems:hover .overlay3 {
    transform: translateY(0%);
}

.mainScreenItems:hover .overlay3 {
    transform: translateY(0%);
}

.overlay3 {
    width: 92%;
    height: 100%;
    background-color: #f9f6f6ca;

    transition: .5s;
    transform: translateY(100%);

    border-radius: 7px;

    top: 0%;
    left: 4%;
    position: absolute;
}

/* Category Section */

.categoryItems {
    cursor: pointer;
    border-radius: 7px;
}

.categoryItems img {
    border-radius: 7px;
}

.categoryItems:hover .overlay2 {
    transform: translateY(0%);
}

.overlay2 {
    width: 92%;
    height: 100%;
    background-color: #f9f6f6ca;

    transition: .5s;
    transform: translateY(100%);

    border-radius: 7px;

    top: 0;
    left: 4%;
    position: absolute;
}

.categoryItems .overlay2 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    max-height: 5em;
    line-height: 1.5em;
    font-size: 1rem;
}

/* Area Section */

.fa-house-laptop {
    cursor: pointer;
}


/* Ingredients Section */
.ingredientsItems p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    max-height: 4.5em;
    line-height: 1.5em;
    font-size: 1rem;
}

.ingredientsItems {
    cursor: pointer;
}

/* Contact section */

.inputs {
    border-radius: 7px;
    transition: .3s;
}

.inputs:focus {
    outline: #86b7fe !important;
}